body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.footer {
  bottom: 0px;
}
