extends layout

block content
    link(rel='stylesheet', href='/stylesheets/investimentSimulation.css')
    h1= "Investiment Simulation"
    p Simulate how much an investment will return
    div.container.mt-5.mb-5
        div.row
            div.col-12.col-sm-6.border-groove
                form#investment_simulation
                    div.form-group
                        label(for="initial_deposit") Initial deposit
                        input(type="number" name="initial_deposit").form-control
                    div.form-group
                        label(for="monthly_deposit") Monthly deposit
                        input(type="number" name="monthly_deposit").form-control
                    div.form-group
                        label(for="investment_time") Investment time
                        input(type="number" name="investment_time").form-control
                    div.form-group
                        label(for="interest_rate") Interest rate 
                            sub (same period of Investiment time)
                        input(type="number" name="interest_rate").form-control
                    //- button(type="button" onclick="").btn.btn-primary Calcular
            div.col-12.col-sm-6
                p.h3 Total Invested
                p.h4
                    span#invested $0.00
                p.h3 Estimated Amount
                p.h4
                    span#amount $0.00
    script(src='/javascripts/investimentSimulation.js')

